.bg-organic{
    background-color: #3bb77e;
}
.bd-search-w{
    width: 600px;
    height: 50px;
    color: rgb(190, 188, 188);
}
.icon-style{
    font-size: 2.5rem;
    color:aliceblue
}
.drpdown-organic{
    background-color: #3bb77e;

}.drpdown-organic:hover{
    background-color: #3bb77e;
}