.bg-bdColor{
    background-color: #FFF;
}
.bg-organic{
    background-color: #3bb77e;
}
.bd-search-w{
    width: 600px;
    height: 50px;
    color: rgb(190, 188, 188);
}
.icon-style{
    font-size: 2.5rem;
    color:aliceblue
}
.drpdown-organic{
    background-color: #3bb77e;

}.drpdown-organic:hover{
    background-color: #3bb77e;
}
.BannerItem{
    border-radius: 10px;
}
.icon-organic{
    color: gray;
    font-size: 1rem;
}
.icon-organic:hover{
    color: #3bb77e;
}
.swipe-slider{
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    font-size: .5rem;
    background-color: white;
    border-radius: 7px;
    box-shadow: 3px 3px 30px #f1efef;
}
.categories-slider-divflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories-slider-div_imgdiv:hover{
    transform: scale(1.1);
    transition: 1s;
}
.swipe-slide-active{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

}
.text-color{
    color: #ABABAB;
}
.product-organic{
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    font-size: .5rem;
    background-color: white;
    border-radius: 7px;
    box-shadow: 3px 3px 30px #f1efef;
}
.h5-organic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1px;
    font-weight: 300;
}
.btn-bg{
    background-color:rgb(255, 255, 255) ;
    color: #3bb77e;
    font-weight: 500;
    font-size: 13px;
    border: 2px solid #3bb77e;
}
.btn-bg:hover{
    background-color: #3bb77e;
    color: #FFF;
    transform: scale(1.1);
    transition: .5s;
}
.btn-bg-organic{
    background-color: #3bb77e;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 13px;
}
.btn-bg-organic:hover{
    background-color: #3bb77e;
    color: white;
    transform: scale(1.1);
    transition: .5s;
}
.text-stl-color{
    color: #ABABAB;
}
.text-stl-color:hover{
    color: #3bb77e;
}
.text-organic{
    color: #3bb77e;
}